<%= stylesheet_link_tag "custom", :media => "all" %>

<div class="contact">
  <div class="container">
      <h1>お問い合わせ</h1>
      <h4>〜に関するお問い合わせ・不具合は以下のお問い合わせフォームにてご連絡ください。</h4>
      <form>
        <div class="form-group">
          <label for="exampleFormControlInput1">メールアドレス（必須）</label>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="例）review@example.com">
          <label for="exampleFormControlTextarea1">お問い合わせ内容</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <button type="button" class="btn btn-primary">送信する</button>
      </form>
    </div>
</div>
