<%= stylesheet_link_tag 'users',  :media => "all" ,'data-turbolinks-track': 'reload' %>
<div class="container">
  <h1><%= @user.name %>のページ,<%= @user.email %></h1>
  <br>
  <br>

  <br>

  <br>
  <br>

  <br>
  <br>

</div>



