<!--footer-->
<footer>
  <div class="footer-contents container" style="border-top: 1px solid #ccc; padding-top: 20px;">
    <div class="text-center row">
      <ul>
        <li><%= link_to 'お問い合わせ', new_inquiry_path %></li>
        <li><%= link_to 'プライバシーポリシー', privacy_policy_path %></li>
        <li><%= link_to '利用規約', terms_of_use_path %></li>
      </ul>
    </div>
    <div class="center-block text-center row">
      <%= link_to  (image_tag 'logo (3).png' , style: "max-width: 20%; margin: 10px 0;") , root_path %>
        <p>©2018  All Rights Reserved.</p>
    </div>
  </div>
</footer>
