<!--  右の最近の投稿-->
<div class="right-recent-posts">
  <div class="input-group center-block col-md-10">
    <input type="text" class="form-control" placeholder="サービス名orカテゴリを入力">
    <span class="input-group-btn center-block">
      <button type="button" class="btn btn-primary"><span>検索</span></button>
    </span>
  </div>
  <div class="recent-posts">
    <h3>最近の投稿</h3>
    <div class="recent-contents">
      <ul>

      </ul>
    </div>
  </div>
</div>

