@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
@import "header_footer";

ul li {
  list-style: none;
}

//index

.all_app {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    font-size: 16px;
  }
}

.all_app p {
  border-bottom: 1px solid #ccc;
}

.all_app img {
  width: 20%;
  object-fit: contain;
}

//show

.reviews {
  margin-top: 20px;
  padding-bottom: 10px;
  border-bottom:dashed 1px #ccc;
  width: 70%;
}

.container .reviews  img {
  width: 30%;
  border-radius: 100px;
  border-bottom: solid 1px #ccc;
}



//edit
.web-service-post ul li {
  margin-bottom: 10px;
}


//show
.contents-image img {
  width: 70%;
  object-fit: contain;
}

.contents-description {
  margin-bottom: 50px;
}


