@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
@import "header_footer";

ul li {
  list-style: none;
}

//index

.all_app {
  list-style: none;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
  li {
    overflow: auto;
    padding: 10px 0;
  }
}

.all_app img {
  width: 80%;
  object-fit: contain;
}

//show
.contents-star {
  margin-bottom: 10px;
}

.add-favorite {
  border-bottom: solid 1px #ccc;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.contents-image .app_image {
  width: 70%;
  object-fit: contain;
  margin-bottom: 20px;
}

.contents-image .description-font {
  border-bottom: 1px solid #ccc;
  max-width: 170px;
}

.contents-description {
  margin-bottom: 50px;
}

.reviews {
  margin-top: 20px;
  padding-bottom: 10px;
  border-bottom:dashed 1px #ccc;
  width: 70%;
}

.container .reviews .user-img {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  border-bottom: solid 1px #ccc;
}

//右の最近の投稿
.right-recent-posts {
  margin-top: 20px;
  margin-right: 100px;
  width: 100%;
}

.right-recent-posts .input-group {
  margin-left: 0;
}

.recent-contents {
  border-bottom: solid 1px #ccc;
  max-width: 300px;
  height: auto;
  margin-left: 0;
  margin-bottom: 20px;
  padding-bottom: 20px;
  text-align: left;
}

//edit
.web-service-post ul li {
  margin-bottom: 10px;
}




