@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
@import "footer_fixed";

.password_reset {
  border: solid 1px #ccc;
  padding: 50px;
  margin-top: 10px;
}
