@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
@import "header_footer";


//new.html.erb
.app-info {
  padding-bottom: 30px;
  border-bottom: solid 1px #ccc;
}

.app-info img {
  width: 300px;
}

.app-info p {
  margin-left: 20px ;
}

.web-service-review {
  margin-top: 30px;
}

.service-review-contents .btn {
  margin-top: 20px;
}

//index.html.erb
.reviews {
  list-style: none;
  margin: 0;
  ul {
    overflow: auto;
    padding: 10px 0;
    border-bottom: dotted 1px #ccc;
  }
}
