@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
@import "header_footer";

body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}


