@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
@import "header_footer";

//profile
.profile-contents li {
  margin-bottom: 10px;
}

.profile-contents .btn {
  margin-top: 20px;
}

.profile-image img, .profile-image-edit {
  width: 300px;
  height: 300px;
  margin-left: 50px;
  border-radius: 100%;
  margin-bottom: 20px;
}

.favorites {
  margin-top: 20px;
  padding-bottom: 10px;
  border-bottom:dashed 1px #ccc;
  width: 100%;
}

.favorites  img {
  width: 100%;
}
