@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
@import "header_footer";

body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

/* signup, login */
.sign .container, .login .container {
  max-width: 500px;
  padding: 20px;
  border: 1px solid #ccc;
}

.sign, .login {
  padding: 50px;
  margin-bottom: 100px;
}

.sign-btn, .login-btn {
  text-align: center;
}

.sign-btn .btn, .login-btn .btn {
  width: 160px;
  border-radius: 100px;
}

.signup-btn, .login-btn {
  text-align: center;
  margin-top: 20px;
  a {
    text-decoration: none;
    color: white;
  }
}

.login-btn {
  margin-bottom: 80px;
}

.signup-btn {
  border-top: solid 1px #ccc;
  padding-top: 15px;
}

.signup-btn .btn {
  width: 160px;
  border-radius: 100px;

}

//signup_error
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0;
  }
}


