<!--footer-->
<footer>
  <div class="container">
    <nav>
      <div class="footer-left">
        <%= link_to 'Project name', root_path , :class => 'logo' %>
        <p align="left">©2018  All Rights Reserved.</p>
      </div>
      <div class="footer-right">
        <ul>
          <%= link_to 'お問い合わせ', tops_contact_path %>
          <%= link_to 'プライバシーポリシー', tops_privacy_policy_path %>
          <%= link_to '利用規約', tops_terms_of_use_path %>
        </ul>
      </div>
    </nav>
  </div>
</footer>
